{% extends 'base.html' %}
{% block title %}Pacientes{% endblock %} 
{% block content %}
<div class="container">
    <div class="row justify-content-md-end">
        <a type="btn" class="btn btn-primary" href="{% url 'add_paciente' %}">Adicionar</a>
    </div>
    <hr>
    <div class="row justify-content-md-center">
        {% if pacientes %}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Prontuário</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Leito</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for paciente in pacientes %}
                        <tr>
                            <td>{{paciente.prontuario}}</td>
                            <td>{{paciente.nome}}</td>
                            <td>{{paciente.leito}}</td>
                            <td>
                                <a type="btn" class="btn btn-default" href="{% url 'editar_paciente' paciente.id %}">editar</a>
                                <a type="btn" class="btn btn-danger" href="{% url 'deletar_paciente' paciente.id %}">excluir</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="alert alert-info" role="alert">
                Ainda não há pacientes cadastrados.
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}