{% extends 'base.html' %}
{% block title %}Prescrições{% endblock %} 
{% block content %}
<div class="container">
    <div class="row justify-content-md-end">
        <a type="btn" class="btn btn-primary" href="{% url 'add_prescricao' %}">Adicionar</a>
    </div>
    <hr>
    <div class="row justify-content-md-center">
        {% if prescricoes %}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Data</th>
                        <th scope="col">Paciente</th>
                        <th scope="col">Leito</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for prescricao in prescricoes %}
                        <tr>
                            <td>{{prescricao.created|date:"d/m/Y"}}</td>
                            <td>{{prescricao.paciente.nome}}</td>
                            <td>{{prescricao.leito}}</td>
                            <td>
                                <a type="btn" class="btn btn-sm" href="{% url 'detalhes_prescricao' prescricao.id %}">
                                    <i class="fas fa-folder-open"></i>
                                </a>
                                <a type="btn" class="btn btn-sm btn-default" href="{% url 'editar_prescricao' prescricao.id %}">
                                    <i class="far fa-edit"></i>
                                </a>
                                <a type="btn" class="btn btn-sm btn-danger" href="#">
                                    <i class="far fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="alert alert-info" role="alert">
                Ainda não há prescrições.
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}